/* ===== VEHICLE SELECTION / SLIDER ===== */
.productos {
  display: flex;
  justify-content: center;
}

.productos h2 {
  margin-bottom: 20px;
  font-size: 28px;
}

/* Slider contenedor */
.slider {
  position: relative;
  width: 1600px;
  top: 20px;
}

/* Track del slider */
.slider-track {
  display: flex;
  gap: 50px;
  height: 460px;
  overflow-x: scroll; /**/
  scroll-behavior: smooth;
  padding: 5px 0;
}

/* Tarjetas */
.card { 
  align-items: center;
  padding: 30px;
  border: solid 1px;
  flex: 0 0 500px;
  height: 400px;
  width: 1000px;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}


/* Botón dentro de la card */
.badge {
  position: relative;
  bottom: 60px;
  left: 25px;
  color: white;
  border: solid black;
  background: linear-gradient(to top, #636363, #6666665b);
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 20px;
  cursor: pointer;
  margin-left: 60px;
  transition: transform 0.3s ease, background 0.3s ease;
}

.badge:hover {
  transform: scale(1.1);
  background: linear-gradient(to top, #777777, #888888);
}

/* Flechas */
.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #b9b9b9;
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 18px;
  z-index: 10;
  transition: background 0.3s ease, transform 0.3s ease;
}

.arrow:hover {
  background: #a0a0a0;
  transform: translateY(-50%) scale(1.1);
}

.arrow.left {
  left: -85px;
  top: 220px;
}

.arrow.right {
  right: -80px;
  top: 220px;
}