/* ===== VEHICLE SELECTION / SLIDER ===== */
.productos {
  display: flex;
  justify-content: center;
}

.productos h2 {
  margin-bottom: 20px;
  font-size: 28px;
}

/* Slider contenedor */
.slider {
  justify-content: center;
  display: flex;
  position: relative;
  width: 1500px;
  height: 850px;
  top: 20px;
}

/* Track del slider */
.slider-track {
  gap: 1050px;
  overflow-x: scroll; /**/
  scroll-behavior: smooth;
  padding: 5px 0;
  height: auto;
}

/* Tarjetas */
.card { 
  align-items: center;
  padding: 30px;
  border: solid 1px;
  height: auto;
  margin: 20px;
  width: auto;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  align-items: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}


/* Botón dentro de la card */
.badge {
  position: relative;
  bottom: 60px;
  left: 25px;
  color: white;
  border: solid black;
  background: linear-gradient(to top, #636363, #6666665b);
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 20px;
  cursor: pointer;
  margin-left: 60px;
  transition: transform 0.3s ease, background 0.3s ease;
}

.badge:hover {
  transform: scale(1.1);
  background: linear-gradient(to top, #777777, #888888);
}

